<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel_image</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script

</head>
<body>
<div>
    <header>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="#"><h4>BreathoMeter</h4></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="nav navbar-nav ml-auto">
				<li class="active"><a class="nav-item nav-link" href="image_upload"><h5>Register</h5></a>
				</li>
				<li><a class="nav-item nav-link" href="index"><h5>Search</h5></a></li>
			</ul>
		</div>
	</nav>
</header>
    <br><br>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

        <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_table }}

            <br><br>

<!--        <input type="text" name="name">-->
<!--        <input type="file" name='hotel_Main_Img' >-->
<!--        <input type="number" name='air_range' >-->

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    </div>
    <div class="col-sm-3"></div>
</div>

<!--<video autoplay></video>
<img src="">
<canvas style="display:none;"></canvas>

<script>
const captureVideoButton =
  document.querySelector('#screenshot .capture-button');
const screenshotButton = document.querySelector('#screenshot-button');
const img = document.querySelector('#screenshot img');
const video = document.querySelector('#screenshot video');

const canvas = document.createElement('canvas');

captureVideoButton.onclick = function() {
  navigator.mediaDevices.getUserMedia(constraints).
    then(handleSuccess).catch(handleError);
};

screenshotButton.onclick = video.onclick = function() {
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  canvas.getContext('2d').drawImage(video, 0, 0);
  // Other browsers will fall back to image/png
  img.src = canvas.toDataURL('image/webp');
};

function handleSuccess(stream) {
  screenshotButton.disabled = false;
  video.srcObject = stream;
}
</script>-->
<div class="row">
    <footer style="position:inherit;">
        <p>Proof Of Concept</p>
        <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
        <p id="bottom">Ownership : @GlobalLogic</p>
    </footer>

</div>
</body>
</html>