<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Index</title>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script

    </head>
    <body onload="init();">
    <div>
    <header>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="#"><h4>BreathoMeter</h4></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="nav navbar-nav ml-auto">
				<li class="active"><a class="nav-item nav-link" href="image_upload"><h5>Register</h5></a>
				</li>
				<li><a class="nav-item nav-link" href="index"><h5>Search</h5></a></li>
			</ul>
		</div>
	</nav>
</header>
</div>
        <h1>Take a snapshot of the current video stream</h1>
        Click on the Start WebCam button.
        <p>
            <button onclick="startWebcam();">Start WebCam</button>
            <button onclick="stopWebcam();">Stop WebCam</button>
            <button onclick="snapshot();">Take Snapshot</button>
            <button onclick="saveShot();">Save Snapshot</button>

        <div>
            <form action="#" method = "post" enctype="multipart/form-data">
                        {% csrf_token %}

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, voluptas.

                <img id="thisimage" src="" alt="Photo of You">
                Screenshots : <p>
                <canvas  id="myCanvas" width="400" height="350"></canvas>
                <input type="image" name='hotel_Main_Img' id="thisimage">

                <input type="submit" value="Go to page" >
            </form>
        </div>

        </p>
    <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
    <p>

<div class="row">
    <footer>
        <p>Proof Of Concept</p>
        <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
        <p id="bottom">Ownership : @GlobalLogic</p>
    </footer>

</div>
    </body>
<script>
    //--------------------
    // GET USER MEDIA CODE
    //--------------------
    navigator.getUserMedia = ( navigator.getUserMedia ||
                              navigator.webkitGetUserMedia ||
                              navigator.mozGetUserMedia ||
                              navigator.msGetUserMedia);

    var video;
    var webcamStream;

    function startWebcam() {
        if (navigator.getUserMedia) {
            navigator.getUserMedia (

                // constraints
                {
                    video: true,
                    audio: false
                },

                // successCallback
                function(localMediaStream) {
                    video = document.querySelector('video');
                    video.srcObject = localMediaStream;
                    webcamStream = localMediaStream;
                },

                // errorCallback
                function(err) {
                    console.log("The following error occured: " + err);
                }
            );
        } else {
            console.log("getUserMedia not supported");
        }
    }

    function stopWebcam() {
        webcamStream.stop();
    }
    //---------------------
    // TAKE A SNAPSHOT CODE
    //---------------------
    var canvas, ctx, img1;

    function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
    }

    function snapshot() {
        // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0,0, canvas.width, canvas.height);
        var image1 = document.getElementById("thisimage");
        image.setAttribute('src', canvas.toDataUrl('image/png'));
    }

</script>
</html>