<!DOCTYPE html>
<html>
    <head>
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    </head>
    <body onload="init();">
        <h1>Take a snapshot of the current video stream</h1>
        Click on the Start WebCam button.
        <p>
            <button onclick="startWebcam();">Start WebCam</button>
            <button onclick="stopWebcam();">Stop WebCam</button>
            <button onclick="snapshot();">Take Snapshot</button>
            <button onclick="saveShot();">Save Snapshot</button>

        <div>
            <form method = "post" enctype="multipart/form-data" action="">
                {%csrf_token%}
                <!--{{ form.as_p }}-->
                <canvas  id="myCanvas" width="400" height="350"></canvas>
                <input type="file" name='hotel_Main_Img' id="imgupload" style="display:none;">
                <button type="submit" onclick="uploadimage();">Upload</button>
            </form>
        </div>

        </p>
    <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
    <p>


    </body>
<script>
    //--------------------
    // GET USER MEDIA CODE
    //--------------------
    navigator.getUserMedia = ( navigator.getUserMedia ||
                              navigator.webkitGetUserMedia ||
                              navigator.mozGetUserMedia ||
                              navigator.msGetUserMedia);

    var video;
    var webcamStream;

    function startWebcam() {
        if (navigator.getUserMedia) {
            navigator.getUserMedia (

                // constraints
                {
                    video: true,
                    audio: false
                },

                // successCallback
                function(localMediaStream) {
                    video = document.querySelector('video');
                    video.srcObject = localMediaStream;
                    webcamStream = localMediaStream;
                },

                // errorCallback
                function(err) {
                    console.log("The following error occured: " + err);
                }
            );
        } else {
            console.log("getUserMedia not supported");
        }
    }

    function stopWebcam() {
        webcamStream.stop();
    }
    //---------------------
    // TAKE A SNAPSHOT CODE
    //---------------------
    var canvas, ctx, img1, img;
    var formdata = new FormData();

    function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
    }

    function snapshot() {
        // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0,0, canvas.width, canvas.height);
     //  var image1 = document.getElementById("thisimage");
     //  image.setAttribute('src', canvas.toDataUrl('image/png'));

      //  var canvas = document.getElementById("myCanvas");
        var img = canvas.toDataURL("image/png");
        formdata.append("hotel_Main_Img",img);
       // var inp = document.getElementById("imgupload");
        //inp.value = dataUrl;
//        document.write('<img src="'+img+'"/>');
    }
    function uploadimage(){
        //var formdata = new FormData();
        //formdata.append("hotel_Main_Img",img);
        console.log(formdata.getAll("hotel_Main_Img"));
        $.ajax({
            url:"",
            type: "POST",
            data: {hotel_Main_Img:formdata.getAll("hotel_Main_Img")},
            processData: false,
            contentType: false,
            success:function(){ console.log("Done"); }
        })
    }
</script>
</html>