<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    {{message}}
    no od diseases {{noOfDiseases}}
    <div id="right_pod">
{% for i in diseases %}
    <div class="user_pod">
        {{ i }}
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="chart-area"></div>
        </div>
    </div>
    {% endfor %}

            {% load static %}
        <script>
            var csvdata = '{% static "aqi.csv" %}'
        </script>
        <script src="{% static 'd3.min.js' %}"></script>
        <script src="{% static 'main.js' %}"></script>

</body>
</html>